@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--cor-quartenaria);
}

:root {
  --cor-primaria:#6A1B9A;
  --cor-secundaria:#F5F5DC;
  --cor-terciaria:#B39DDB;
  --cor-quartenaria:#F9F9F9;
  --cor--quintenaria:#E0E0E0;
  --cor--sextenaria:#333333;

  --font-primaria:"Krona One", sans-serif;
  --font-sucundaria:"Montserrat", sans-serif;
}

.cabecalho__1 {
  max-width: 1200px;
  margin: auto;
  font-size: 17px;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho {
  width: 100%;
  padding: 8px 4%;
  background-color: var(--cor-quartenaria);
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
}

header.rolagem {
  background-color: var(--cor-primaria);
}

header.rolagem a {
  color: var(--cor--sextenaria);
  font-size: 17px;
  font-family: var(--font-sucundaria);
}

.img-essencia {
  width: 75px;
  height: 50px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  font-size: 17px;
  font-family: var(--font-sucundaria);
  color: var(--cor--sextenaria);
  text-decoration: none;
}

.btn__contato button {
  width: 120px;
  height: 40px;
  font-size: 17px;
  font-family: var(--font-sucundaria);
  border: 0;
  background-color: var(--cor-terciaria);
  color: #000000;
  cursor: pointer;
  transition: .2s;
}

.btn__contato:hover button {
  background-color: var(--cor-primaria);
  color: var(--cor-quartenaria);
}

.container__1 {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__1 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 0px;
  padding: 20px;
  color: var(--cor-primaria);
}

.essencia__titulo {
  color: var(--cor-primaria);
}

.grid__1 {
  display: below;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px;
}

.corpo__1 {
  margin: 75px;
}

.container__equipe {
  margin: 75px;
}

.titulo__equipe {
  text-align: center;
  font-size: 65px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.titulo__equipe-1 {
  text-align: center;
  font-size: 73px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.h3__equipe {
  padding: 8px;
  font-size:30px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
}

.h3__frase{
  padding: 8px;
  font-size:30px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
}

.h3__frase-1 {
  padding: 8px;
  font-size:30px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.p__equipe {
  font-size: 20px;
  font-family: var(--font-sucundaria);
  color: var(--cor-primaria);
}

.grid__equipe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  
}

.box__equipe {
  background-color: var(--cor-quartenaria);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
  text-align: center;
}

.img-essencia__equipe {
  width: 110px;
  height: 100px;
}

.container__2 {
  margin: 250px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.grid__2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.titulo__2 {
  font-size: 36px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
}

.paragrafo__2 {
  font-size: 26px;
  font-family: var(--font-sucundaria);
  padding: 20px;
  color: var(--cor-primaria);
}

h1 {
  font-weight: bold;
}

.imagem__2 {
  width: 650px;
  height: 400px;
}

.container__3 {
  margin: 250px auto;
  max-width: 1200px;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__3 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.h2__filosofia {
  padding: 8px;
  font-size:30px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
}

.p__filosofia {
  font-size: 20px;
  font-family: var(--font-sucundaria);
  color: var(--cor-primaria);
}

.grid__3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.box__3 {
  background-color: var(--cor-quartenaria);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
  text-align: center;
}

.box h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--cor-primaria);
  padding: 20px;
}

.box p {
  font-size: 16px;
  color: var(--cor-primaria);
  padding: 20px;
}

.box:nth-child(odd) {
  background-color: var(--cor-quartenaria);
}

.container__4 {
  max-width: 1200px;
  margin: 250px auto;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__4 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.paragrafo__4 {
  font-size: 26px;
  font-family: var(--cor-primaria);
  padding: 20px;
  color: var(--cor-primaria);
}

.container__5 {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__5 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.grid__5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.box__5 {
  background-color: var(--cor-quartenaria);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
  text-align: center;
}

.h2__propostas {
  padding: 8px;
  font-size:30px;
  font-family: var(--font-primaria);
  color: var(--cor-primaria);
}

.p__propostas {
  font-size: 20px;
  font-family: var(--font-sucundaria);
  color: var(--cor-primaria);
}

.box h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: var(--cor-primaria);
  padding: 20px;
}

.box p {
  font-size: 16px;
  color: var(--cor-primaria);
  padding: 20px;
}

.box:nth-child(odd) {
  background-color: var(--cor-quartenaria);
}

.container__6 {
  max-width: 1200px;
  margin: 250px auto;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__6 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.paragrafo__6 {
  font-size: 26px;
  font-family: var(--font-sucundaria);
  padding: 20px;
  color: var(--cor-primaria);
}

.container__7 {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: var(--cor-primaria) 0px 0px 0px 1px;
}

.titulo__7 {
  text-align: center;
  font-size: 36px;
  font-family: var(--font-primaria);
  margin-bottom: 40px;
  color: var(--cor-primaria);
}

.paragrafo_7_1 {
  text-align: center;
  font-size: 26px;
  font-family: var(--font-primaria);
  padding: 20px;
  color: var(--cor-primaria);
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: var(--cor-primaria);
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  font-family: var(--font-sucundaria);
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-quartenaria);
}

.links:hover {
  background-color: var(--cor-terciaria);
}

/*responsavel para telas menores (2) */
@media (max-width: 768px) {
  .cabecalho__1 {
    font-size: 14px;
  }

  .img__titulo,.imagem__2  {
    display: none;
  }
  
  .titulo__1 {
    font-size: 28px;
  }

  .essencia {
    display: none;
  }

  header li {
    display: flex;
    align-items: center;
    justify-content: row;
    margin: 0 40px;
  }


  .btn__contato button {
    width: 100px;
    height: 35px;    
    font-size: 14px;
  }

  .container__1, .container__equipe, .container__2, .container__3, .container__4, .container__5, .container__6, .container__7 {
    margin: 50px auto;
    padding: 15px;
  }

  .titulo__equipe, .titulo__equipe-1, .titulo__2, .titulo__3, .titulo__4, .titulo__5, .titulo__6, .titulo__7 {
    font-size: 45px;
  }

  .h3__equipe, .h3__frase, .h3__frase-1 {
    font-size: 24px;
  }

    
  
  .p__equipe, .p__filosofia, .p__propostas, .paragrafo__6, .paragrafo__4, .paragrafo_7_1 {
    font-size: 18px;
  }

    
  
  .grid__equipe, .grid__1, .grid__3, .grid__5 {
    grid-template-columns: 1fr;
  }

  .img-essencia__equipe {
    width: 90px;
    height: 75px;
  }
  
  .imagem__2 {
    width: 100%;
    height:auto;
  }

}
